.header__gear{
  font-size: 300px;
  color: rgba(156, 156, 156, 0.575);
  position: absolute;
  top: -150px;
  background-size: contain;
  transition: all 0.5s ease;
  animation: rotate__num2 5s linear infinite;
}

@keyframes rotate__num2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.header__gear__num2{
  font-size: 180px;
  color: rgba(156, 156, 156, 0.575);
  position: absolute;
  top: -90px;
  right: 20%;
  transform: translate(-50%, -50%);
  background-size: contain;
  transition: all 0.5s ease;
  animation: rotate__num2 5s linear infinite;
}

@keyframes rotate__num2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}


.gear__footer__num2{
  font-size: 300px;
  color: rgba(156, 156, 156, 0.055);
  transition: all 0.5s ease;
  position: absolute;
  bottom: 10%;
  right: 20%;
  animation: rotate__num2 5s linear infinite;
}

@keyframes rotate__num2{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

