html{
    scroll-behavior: smooth;
}

.main__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgb(31,31,31);
    background: linear-gradient(0deg, rgba(31,31,31,1) 0%, rgba(113,113,113,1) 100%);

    //#121212
    &.active{
        background: rgb(201,201,201);
        background: linear-gradient(0deg, rgba(201,201,201,1) 0%, rgba(255,255,255,1) 100%);
    }
}

@media (width: 430px) and (height: 932px){

    html, body{
        overflow-x: hidden;
    }

}

