.main__gear{
    font-size: 300px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 200px;
    margin-top: 70px;
    color: rgba(94, 94, 94, 0);
    background-size: contain;
    animation: rotate 3s linear infinite;
    
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.main__gear__num2{
  font-size: 300px;
    color: rgba(156, 156, 156, 0.575);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 646px;
    margin-top: 333px;
    background-size: contain;
    animation: rotate__num2 5s linear infinite;
}

@keyframes rotate__num2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}




@media (width: 430px) and (height: 932px){


  .main__gear__num2{
    font-size: 90px;
    margin-left: 200px;
    margin-top: 150px;
  }

}