.profile__name__absolute{
    width: 190px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 60px;
    margin-top: 50px;
    border-radius: 15px;
    background-color: rgb(206, 206, 206);
    
    .profile__name__absolute__text{
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        font-family: "Anek Devanagari", sans-serif;
        

    }
}

.profile__container{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(113,255,248);
    margin-bottom: 200px;
    background: rgb(201,201,201);
    background: linear-gradient(0deg, rgba(201,201,201,1) 0%, rgba(255,255,255,1) 100%);
    border: 3px solid black;

    &.active{
        background: rgb(31,31,31);
        background: linear-gradient(0deg, rgba(31,31,31,1) 0%, rgba(113,113,113,1) 100%);
    }
    // NO TE OLVIDES DE USAR TRANSICIONES SUAVES PARA CIERTOS ELEMENTOS


    /*
    background: rgb(113,255,248);
    background: linear-gradient(90deg, rgba(113,255,248,1) 0%, rgba(255,189,114,1) 100%);
    */

    .profile__container__num2{
        width: 80%;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 20px;
        z-index: 10;
        border: 3px solid black;
    }
    .profile__container__division{
        width: 100%;
        max-width: 1200px;
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border: 3px solid black;
    
    }

    .profile__information{
        width: 700px;
        height: 100%;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-size: 20px;
        border-radius: 15px;
        border: 3px solid black;

        .profile__greeting{
            align-self: left;
            font-size: 60px;
            padding-left: 30px;
            background-color: rgb(0, 0, 0);
            background: linear-gradient(to right , rgb(255, 115, 0), rgb(255, 115, 0));
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            cursor: pointer;
            font-family: "Archivo Black", sans-serif;
            transition: .5s, color .10s;
            -webkit-transition: .5s, color .10s;
            -moz-transition: .5s, color .10s;
        
            &.active{
                background-color: rgb(0, 0, 0);
                background: linear-gradient(to right , rgb(145, 255, 133), rgb(116, 225, 134));
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
            }
            &:hover{
                transform: translatey(-10px);
                    -webkit-transform: translatey(-10px);
                    -moz-transform: translatey(-10px);
            }
        }

        .profile__name{
            text-align: center;
            padding-left: 30px;
            position: relative;
            font-weight: 700;
            font-size: 60px;
            background-color: black;
            background: linear-gradient(to right , rgb(252, 193, 105), rgb(255, 126, 67));
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            cursor: pointer;
            font-family: "Archivo Black", sans-serif;
            transition: .5s, color .10s;
            -webkit-transition: .5s, color .10s;
            -moz-transition: .5s, color .10s;

            &.active{
                background-color: rgb(0, 0, 0);
                background: linear-gradient(to right , rgb(22, 211, 85), rgb(156, 255, 111));
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
            }
            &:hover{
                transform: translatey(-10px);
                    -webkit-transform: translatey(-10px);
                    -moz-transform: translatey(-10px);
            }
        }
        .profile__frontend{
            text-align: left;
            padding-left: 30px;
            font-size: 60px;
            font-weight: 700;
            background-color: black;
            background: linear-gradient(to right , rgb(183, 81, 251), #4adeff,);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            cursor: pointer;
            font-family: "Archivo Black", sans-serif;
            transition: .5s, color .10s;
            -webkit-transition: .5s, color .10s;
            -moz-transition: .5s, color .10s;

            &:hover{
                transform: translatey(-10px);
                    -webkit-transform: translatey(-10px);
                    -moz-transform: translatey(-10px);
            }
        }

        .profile__email{
            width: 360px;
            height: 29px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            margin-left: 30px;
            border-radius: 10px;
            padding: auto;
            cursor: pointer;
            background: linear-gradient(to right , rgb(197, 197, 197), rgb(182, 182, 182));

            .profile__email__text{
                color: white;
                font-weight: 300;
                font-size: 22px;
                font-family: "Anek Devanagari", sans-serif;
            }
        }

        
    }
//icons
    .profile__icons{
        width: 400px;
        height: 200px;
        margin-right: auto;
        align-self: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        gap: 30px;
        border: 3px solid black;
    }
    .icon__profile{
        font-size: 70px;
        cursor: pointer;
        transition: .5s, color .10s;
            -webkit-transition: .5s, color .10s;
            -moz-transition: .5s, color .10s;
        }
    .icon__profile:hover{
        transform: translatey(-10px);
            -webkit-transform: translatey(-10px);
            -moz-transform: translatey(-10px);
    }
}



@media (max-width: 1200px){

    .profile__name__absolute{
        width: 180px;
        height: 35px;
        margin-top: 20px;

        .profile__name__absolute__text{
            font-size: 20px;
        }
    }

    .profile__container{
        width: 100%;
        border: none;
        height: 100vh;
        border: 3px solid black;

        .profile__container__num2{
            width: 100%;
            height: 500px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            transition: 0.5s ease;
            border: 3px solid black;
        
            .profile__information{
                width: 100%;
                height: 800px;
                display: flex;
                flex-direction: column;
                border: 3px solid black;
            
                .profile__greeting{
                    font-size: 60px;
                }
                .profile__name{
                    text-align: left;
                    font-size: 60px;
                    align-self: flex-start;
                }
                .profile__frontend{
                    font-size: 60px;
                }
                .profile__email{
                    border-radius: 20px;
                }

            }
        }
        .profile__icons{
            width: 100%;
            margin-top: 0px;
            justify-content: flex-start;
            align-content: end;
        
            .icon__profile{
                font-size: 50px;
                margin-left: 50px;
                
            }
        }
    }

}

@media (max-width: 900px){

    .profile__name__absolute{
        width: 180px;
        height: 30px;
        margin-left: 30px;
        margin-top: 10px;

        .profile__name__absolute__text{
            font-size: 20px;
        }
    }
    
    .profile__container{
        width: 100%;
        border: none;
        height: 100vh;

        .profile__container__num2{
            width: 100%;
            height: 500px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            transition: 0.5s ease;
            
        
            .profile__information{
                width: 100%;
                height: 800px;
                display: flex;
               
                flex-direction: column;
            
                .profile__greeting{
                    font-size: 60px;
                }
                .profile__name{
                    text-align: left;
                    font-size: 60px;
                    
                    align-self: flex-start;
                }
                .profile__frontend{
                    font-size: 60px;
                }
                .profile__email{
                    border-radius: 20px;
                }

            }
        }
        .profile__icons{
            width: 100%;
            margin-top: 0px;
            justify-content: flex-start;
            align-content: end;

        
            .icon__profile{
                font-size: 50px;
                margin-left: 50px;
                
            }
        }
    }

}

@media (max-width: 800px){

    .profile__name__absolute{
        width: 180px;
        height: 30px;
        margin-left: 30px;
        margin-top: 10px;

        .profile__name__absolute__text{
            font-size: 20px;
        }
    }
    
    .profile__container{
        width: 100%;
        border: none;
        height: 100vh;


        .profile__container__num2{
            width: 100%;
            height: 500px;
            justify-content: flex-start;
            align-items: flex-start;
            transition: 0.5s ease;
        
            .profile__information{
                width: 100%;
                height: 800px;
                display: flex;
                flex-direction: column;
            
                .profile__greeting{
                    font-size: 50px;
                }
                .profile__name{
                    text-align: left;
                    font-size: 50px;
                    align-self: flex-start;
                }
                .profile__frontend{
                    font-size: 50px;
                }
                .profile__email{
                    border-radius: 20px;
                }

            }
        }
        .profile__icons{
            width: 100%;
            margin-top: 0px;
            justify-content: flex-start;
            align-content: end;
        
            .icon__profile{
                font-size: 50px;
                margin-left: 50px;
                
            }
        }
    }

}

@media (max-width: 650px){
    .profile__name__absolute{
        width: 180px;
        height: 30px;
        margin-left: 30px;
        margin-top: 10px;

        .profile__name__absolute__text{
            font-size: 20px;
        }
    }
    
    .profile__container{
        width: 100%;
        border: none;
        height: 700px;

        .profile__container__num2{
            width: 100%;
            height: 500px;
            justify-content: flex-start;
            align-items: flex-start;
            transition: 0.5s ease;
        
            .profile__information{
                width: 100%;
                height: 800px;
                display: flex;
                flex-direction: column;
            
                .profile__greeting{
                    font-size: 40px;
                }
                .profile__name{
                    text-align: left;
                    font-size: 40px;
                    align-self: flex-start;
                }
                .profile__frontend{
                    font-size: 40px;
                }
                .profile__email{
                    border-radius: 20px;
                }

            }
        }
        .profile__icons{
            width: 90%;
            margin-top: 0px;
            justify-content: flex-start;
            align-content: end;
        
            .icon__profile{
                font-size: 50px;
                margin-left: 10px;
                
            }
        }
    }
}

@media (width: 500px) and (height: 932px){
    
    .profile__name__absolute{
        width: 130px;
        height: 30px;
        margin-left: 30px;
        margin-top: 10px;

        .profile__name__absolute__text{
            font-size: 16px;
        }
    }
    
    .profile__container{
        width: 100%;
        border: none;
        height: 100vh;


        .profile__container__num2{
            width: 100%;
            height: 500px;
            justify-content: flex-start;
            align-items: flex-start;
            transition: 0.5s ease;
        
            .profile__information{
                width: 100%;
                height: 800px;
                display: flex;
                flex-direction: column;
            
                .profile__greeting{
                    font-size: 40px;
                }
                .profile__name{
                    text-align: left;
                    font-size: 40px;
                    align-self: flex-start;
                }
                .profile__frontend{
                    font-size: 40px;
                }
                .profile__email{
                    border-radius: 20px;
                }

            }
        }
        .profile__icons{
            width: 100%;
            margin-top: 0px;
            justify-content: flex-start;
            align-content: end;
        
            .icon__profile{
                font-size: 50px;
                margin-left: 50px;
                
            }
        }
    }
}



