//Seccion de proyectos
.proyectos__container {
  width: 95%;
  max-width: 1200px;
  height: 1800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 200px;
  margin-bottom: 100px;
  z-index: 10;

  .proyectos__container__tittle__div {
    width: 400px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    font-weight: normal;
    background-color: #1a1a1a;

    &.active {
      background-color: white;
      color: black;
      -webkit-box-shadow: 18px 2px 150px -14px rgba(0, 0, 0, 0.36);
      -moz-box-shadow: 18px 2px 150px -14px rgba(0, 0, 0, 0.36);
      box-shadow: 18px 2px 150px -14px rgba(0, 0, 0, 0.36);
    }
  }
  .proyectos__container__title {
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 30px 0px 30px 0px;
    font-family: "Rubik", sans-serif;

    &.active {
      color: black;
    }
  }
  .proyectos__container__division {
    width: 100%;
    max-width: 1200px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .proyectos {
    margin-top: 40px;
    width: 100%;
    max-width: 900px;
    height: 520px;
    position: relative;
    font-family: "Rubik", sans-serif;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 16px;

    &.active {
      background-color: white;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 18px 2px 150px -14px rgba(0, 0, 0, 0.36);
      -moz-box-shadow: 18px 2px 150px -14px rgba(0, 0, 0, 0.36);
      box-shadow: 18px 2px 150px -14px rgba(0, 0, 0, 0.36);
    }

    .proyectos__img {
      width: 100%;
      height: 50%;
      background-color: rgb(110, 110, 110);
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      overflow: hidden;
      cursor: pointer;

      .proyectos__img__inside {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .proyectos__information__container {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      overflow: hidden;
      background-color: #1a1a1a;
      color: white;

      &.active {
        color: black;
        background-color: white;
      }

      .proyectos__container__flex {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        background: rgba(33, 29, 29, 0.2); 
        backdrop-filter: blur(15px); 
        -webkit-backdrop-filter: blur(15px);
        color: white;

        &.active {
          background-color: white;
        }

        .proyectos__informacion {
          width: 100%;
          height: 100%;
          padding: 12px 15px;
          font-weight: 500;
          font-size: 18px;
          background-color: transparent;
          color: white;
          
          &.active {
            background-color: rgb(255, 255, 255);
            color: black;
          }
          .proyectos__title {
            width: 90%;
            height: 40px;
            font-weight: 700;   
            color: white;

            &.active {
              color: black;
            }
            .proyectos__title__text {
              font-size: 25px;
              font-weight: 500;
            }
          }
          .title__text{
            margin-top: 10px;
          }
        }

        .proyectos__container__github {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          background-color: transparent;

          &.active {
            background-color: white;
          }

          .proyectos__githubPages {
            width: 100%;
            height: 40%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 25px;
            margin-top: 10px;
            background-color: transparent;

            &.active {
              color: black;
              background-color: white;
            }

            .icon__proyecto {
              font-size: 45px;
              cursor: pointer;
            }

            .githubPages__btn {
              width: 80px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px;
              background-color: rgb(255, 255, 255);
              font-size: 18px;
              text-align: center;
              border-radius: 9px;
              border: none;
              font-weight: 500;
              transition: 0.2s;
              
              cursor: pointer;

              .demo__btn {
                color: black;
                text-decoration: none;
              }
              .code__btn {
                color: rgb(0, 0, 0);
                text-decoration: none;
              }
              .code__btn,
              .demo__btn:visited {
                color: black;
              }
            }
            .githubPages__btn:hover {
              color: var(--hover-text);
              transform: translate(-0.25rem, -0.25rem);
              background-color: rgb(233, 171, 250); 
              box-shadow: 0.25rem 0.25rem rgb(245, 244, 245);
              border: 1px solid black;
            }

            .githubPages__btn:active{
              transform: translate(0);
              box-shadow: none;
              background-color: black;
              border: 1px solid black;
            }
          }
          .proyectos__tecnologias {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 5px;
            gap: 20px;
            border-radius: 16px;
            background-color: transparent;

            &.active {
              color: black;
              background-color: white;
            }

            .tecnologias__title {
              font-size: 18px;
              font-weight: 500;
              margin-right: 10px;
            }

            .icon__project {
              font-size: 45px;
            }

            .icon__project__typescript {
              width: 45px;
            }

            .proyectos__tecnologias__text {
              font-size: 19px;
              font-weight: 400;
              font-family: "Rubik", sans-serif;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .proyectos__container {
    width: 100%;
    height: auto;
    border: none;

    .proyectos__container__tittle__div {
      width: 100%;
      border-radius: 0px;
      border: none;
    }

    .proyectos__container__title {
      font-weight: 400;
    }
    .proyectos__container__division {
      display: flex;
      flex-direction: column;
      height: 1200px;
      gap: 0px;
    }

    .proyectos {
      width: 80%;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-top: 100px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;

      .proyectos__img {
        width: 100%;
        height: 300px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
      }
      .proyectos__title {
        height: 35px;

        .proyectos__title__text {
          font-size: 18px;
        }
      }
      .proyectos__information__container {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;

        .proyectos__container__flex {
          flex-direction: column;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .proyectos__informacion {
            width: 98%;
            height: 200px;
            font-weight: 300;
            padding: 20px;
            font-size: 18px;
            border-radius: 18px;
          }

          .proyectos__container__github {
            width: 100%;
            height: 120px;
            flex-direction: row;
          }
          .proyectos__githubPages {
            height: 100px;
            border-radius: 20px;
          }

          .proyectos__tecnologias {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 17px;

            .icon__project {
              font-size: 70px;
            }

            .proyectos__tecnologias__text {
              font-size: 38px;
              border: 1px solid white;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .proyectos__container {
    width: 100%;
    height: auto;
    border: none;

    .proyectos__container__tittle__div {
      width: 100%;
      border-radius: 0px;
      border: none;
    }

    .proyectos__container__title {
      font-weight: 400;
    }
    .proyectos__container__division {
      display: flex;
      flex-direction: column;
      height: 1200px;
      gap: 0px;
    }

    .proyectos {
      width: 100%;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-top: 100px;
      border-radius: 0px;

      .proyectos__img {
        width: 100%;
        height: 230px;
        border-radius: 0px;
      }
      .proyectos__title {

        .proyectos__title__text {
          font-size: 18px;
        }
      }

      .proyectos__information__container {
        width: 100%;
        height: 270px;
        display: flex;
        flex-direction: column;
        border-radius: 0px;

        .proyectos__container__flex {
          flex-direction: column;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0px;

          .proyectos__informacion {
            width: 98%;
            height: 200px;
            font-weight: 300;
            padding: 20px;
            font-size: 16px;
            border-radius: 18px;
            border-radius: 0px;
          }

          .proyectos__container__github {
            width: 100%;
            height: 120px;

            .proyectos__githubPages {
              width: 100%;

              .icon__proyecto {
                font-size: 37px;
              }
            }

            .proyectos__tecnologias {
              .icon__project {
                font-size: 37px;
              }

              .icon__project__typescript {
                width: 37px;
              }
            }

            .proyectos__tecnologias__text {
              font-size: 38px;
              border: 1px solid white;
            }
          }
        }
      }
    }
  }
}
