.skills__principal__container{
    width: 75%;
    height: 670px;
    margin-bottom: 50px;
}

//-------------------Contenedor de Tecnologias----------------------//
.skills__container__tecnologias__title{
    width: 20%;
    height: 40px;
    background-color: white;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}

.skills__container__tecnologias{
    width: 100%;
    height: 250px;
    border-radius: 14px;
    background-color: white;
    -webkit-box-shadow: 18px 2px 150px -14px rgba(0,0,0,0.36);
    -moz-box-shadow: 18px 2px 150px -14px rgba(0,0,0,0.36);
    box-shadow: 18px 2px 150px -14px rgba(0,0,0,0.36);

    .tecnologias__div{
        width: 100%;
        height: 120px;
        display: flex;
        justify-content:  space-evenly;
        align-items: center;
        border: 1x solid red;
    
        .icon__tecnologia{
            font-size: 90px;
        }
    }
}


//-------------------Contenedor de SoftSkills ------------------------ //

.skills__container__softSkills{
    width: 100%;
    background-color: white;
    border-radius: 14px;
    -webkit-box-shadow: 18px 2px 150px -14px rgba(0,0,0,0.36);
    -moz-box-shadow: 18px 2px 150px -14px rgba(0,0,0,0.36);
    box-shadow: 18px 2px 150px -14px rgba(0,0,0,0.36);
}

.skills__container__softSkills__title{
    width: 20%;
    height: 40px;
    background-color: white;
    border-radius: 14px;
    text-align: center;
    margin: 30px 0px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.habilidades__blandas{
    width: 100%;
    height: 250px;
    background-color: white;
    border-radius: 14px;

    .habilidades__blandas__texto{
        padding: 20px 25px 0px 25px;
        text-align: left;
        font-size: 18px;
    }
}