.skills__principal__container{
    width: 90%;
    border: 3px solid black;
}

//TECHNOLOGIES
.skills__container{
    width: 70%;
    height: 600px;
    margin: auto;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 100px;
    font-family: "Mulish", sans-serif;

    &.active{
        background-color: black;
        border: 1px solid white;
    }

    .skills__container__head{
        width: 100%;
        height: 100px;
        border: none;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: black;
        display: flex;
        flex-direction: row;

        .skills__container__title-tec{
            width: 50%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            border-top-left-radius: 20px;
            border-bottom: 1px solid rgb(119, 119, 119);
            cursor: pointer;
            
            &.active{
                background-color: black;
                color: white;
            
                &:hover{
                    background-color: white;
                    color: black;
                }
            }

            &:hover{
                background-color: rgb(219, 219, 219);
                color: rgb(0, 0, 0);
            }
        }
    
        .skills__container__title-skill{
            width: 50%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            border-top-right-radius: 20px;
            border-bottom: 1px solid rgb(119, 119, 119);
            cursor: pointer;
            
            &.active{
                background-color: black;
                color: white;
            
                &:hover{
                    background-color: white;
                    color: black;
                }
            }

            &:hover{
                background-color: rgb(219, 219, 219);
                color: rgb(0, 0, 0);
            }
        }
    }

    .skills__container__tecnologias, .skills__container__softSkills{
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        .content__tecnologias__icons, .content__tecnologias__icons__3{
            width: 25%;
            height: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;  
            border: 3px solid black;
        }

        .content__tecnologias__icons__3{
            justify-content: space-evenly;
        }
        .icon__tecnologia{
            font-size: 90px;
        }
    }
}

// Cambio
.contenido{
    display: none;
}

.contenido.active{
    display: flex;
    flex-direction: column;
}

//SOFTSKILLS

.skills__container__dividor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .skills__container__content{
        width: 50%;
        height: 500px;
        border: 4px solid black;
        background-color: rgb(255, 255, 255);

        .skills__list{
            width: 50%;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            border: 3px solid greenyellow;

            .skills__name{
                width: 90%;
                height: 90px;
                background-color: rgb(212, 212, 212);
            }
        }
    }
}



// Media Queries

@media (max-width: 700px){

    .skills__principal__container{
        margin-top: 440px;
    }

    .skills__container{
        width: 100%;

    }



}

@media (max-width: 375px){
    .skills__principal__container{
        width: 100%;
        margin-top: 500px;
    }

    .skills__container{
        width: 100%;
        height: 600px;
        border: 4px solid red;

        .skills__container__head{
            height: 50px;
            border: 2px solid black;
        
            .skills__container__title-tec, .skills__container__title-skill{
                height: 80px;
                font-size: 13px;
                text-align: center;
            }
        }
    
        .skills__container__tecnologias{
            height: 365px;

            .content__tecnologias__icons, .content__tecnologias__icons__3{
                width: 30%;
                height: 300px;

                .icon__tecnologia{
                    font-size: 60px;
                }
            }
        }
    }

    .contenido.active{
        .skills__container{
            height: 600px;
        }
    }

    .skills__container__dividor{
        width: 100%;
        height: 500px;
        flex-direction: column;

        .skills__container__content{
            width: 90%;
            height: 220px;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap:nowrap;

            .skills__list{
                width: 100%;
            }
        }
    }

}




