.first__wabe{
    width: 100%;
    height: 580px;
    position: absolute;
    right: 0;
    top: 30;
    z-index: 1;
    
    &.active{
        display: none;
    }
}

.first__wabe__night{
    width: 100%;
    height: 630px;
    position: absolute;
    right: 0;
    top: 30;
    z-index: 1;
    display: none;

    &.active{
        display: block;
    }
}

.second__wabe{
    width: 100%;
    height: 1100px;
    position: absolute;
    top: 0;
    z-index: 1;
    

    &.active{
        display: none;

    }
}

.second__wabe__nigth{
    width: 100%;
    height: 998px;
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
    
    &.active{
        display:block;
    }
}



.tercera__wabe{
    width: 100%;
    height: 700px;
    position: absolute;
    top: 41.7%;
    left: 0;
    z-index: 1;

}

.cuarta__wabe{
    width: 100%;
    height: 500px;
    position: absolute;
    bottom: 0;
}