.first__wabe{
    width: 100%;
    height: 580px;
    position: absolute;
    right: 0;
    top: 30;
    z-index: 1;
    color: rgb(0, 0, 0);
}

.second__wabe{
    width: 100%;
    height: 998px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.tercera__wabe{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 36.7%;
    left: 0;
    z-index: 1;

}