@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anek Devanagari", sans-serif;
}

.header__gear {
  font-size: 300px;
  color: rgba(156, 156, 156, 0.575);
  position: absolute;
  top: -150px;
  background-size: contain;
  transition: all 0.5s ease;
  animation: rotate__num2 5s linear infinite;
}

@keyframes rotate__num2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header__gear__num2 {
  font-size: 180px;
  color: rgba(156, 156, 156, 0.575);
  position: absolute;
  top: -90px;
  right: 20%;
  transform: translate(-50%, -50%);
  background-size: contain;
  transition: all 0.5s ease;
  animation: rotate__num2 5s linear infinite;
}

@keyframes rotate__num2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.gear__footer__num2 {
  font-size: 300px;
  color: rgba(156, 156, 156, 0.055);
  transition: all 0.5s ease;
  position: absolute;
  bottom: 10%;
  right: 20%;
  animation: rotate__num2 5s linear infinite;
}

@keyframes rotate__num2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.aboutMe__and__Education {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.acercaDeMi {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  z-index: 10;
  border-radius: 20px;
  background-color: #1a1a1a;
  color: white;
}
.acercaDeMi.active {
  border: 1px solid black;
  background-color: white;
  box-shadow: 18px 2px 150px -14px rgba(0, 0, 0, 0.36);
  color: black;
}
.acercaDeMi .AboutMe__div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px;
}
.acercaDeMi .AboutMe__div__name {
  width: 100%;
  text-align: left;
  font-size: 32px;
  font-weight: 400;
  padding: 30px 70px;
}
.acercaDeMi .AboutMe__div__text {
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  padding: 0px 70px 40px 70px;
  word-wrap: break-word;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .aboutMe__and__Education {
    width: 90%;
  }
  .acercaDeMi .AboutMe__div {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .acercaDeMi .AboutMe__div__name {
    font-size: 34px;
    padding: 10px 20px;
  }
  .acercaDeMi .AboutMe__div__text {
    font-size: 32px;
    text-align: left;
    padding: 20px;
  }
}
@media (max-width: 850px) {
  .aboutMe__and__Education {
    width: 90%;
  }
  .acercaDeMi .AboutMe__div {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .acercaDeMi .AboutMe__div__name {
    font-size: 34px;
    padding: 10px 20px;
  }
  .acercaDeMi .AboutMe__div__text {
    font-size: 28px;
    text-align: left;
    padding: 20px;
  }
}
@media (max-width: 750px) {
  .aboutMe__and__Education {
    width: 90%;
  }
  .acercaDeMi .AboutMe__div {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .acercaDeMi .AboutMe__div__name {
    font-size: 34px;
    padding: 10px 20px;
  }
  .acercaDeMi .AboutMe__div__text {
    text-align: left;
    padding: 20px;
  }
}
@media (max-width: 600px) {
  .aboutMe__and__Education {
    width: 90%;
  }
  .acercaDeMi .AboutMe__div {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .acercaDeMi .AboutMe__div__name {
    font-size: 24px;
    padding: 10px 20px;
  }
  .acercaDeMi .AboutMe__div__text {
    font-size: 25px;
    text-align: left;
    padding: 20px;
  }
}
.language__container {
  width: 200px;
  height: 50px;
  margin-right: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 80px;
  right: 0;
  border: none;
  background-color: invisible;
}
.language__container .btn__night {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
}
.language__container .btn__night.active {
  display: none;
}
.language__container .btn__sun {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
}
.language__container .btn__sun.active {
  display: block;
}
.language__container .btn__language {
  border: none;
  cursor: pointer;
  background-color: transparent;
  z-index: 100;
}
.language__container .language__icon {
  font-size: 60px;
  color: #3dc1de;
  cursor: pointer;
}
.language__container .language__icon.active {
  color: rgb(218, 155, 251);
}
.language__container .icon__night {
  font-size: 45px;
}
.language__container .icon__sun {
  font-size: 45px;
}

.profile__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(113, 255, 248);
  margin-bottom: 200px;
  background: rgb(31, 31, 31);
  background: linear-gradient(0deg, rgb(31, 31, 31) 0%, rgb(113, 113, 113) 100%);
}
.profile__container.active {
  background: rgb(201, 201, 201);
  transition: all 0.5s ease;
  background: linear-gradient(0deg, rgb(201, 201, 201) 0%, rgb(255, 255, 255) 100%);
}
.profile__container .profile__container__num2 {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  z-index: 10;
}
.profile__container .profile__container__division {
  width: 100%;
  max-width: 1200px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.profile__container .profile__information {
  width: 700px;
  height: 400px;
  margin-right: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 20px;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.profile__container .profile__information .profile__greeting {
  align-self: left;
  font-size: 60px;
  padding-left: 30px;
  background-color: rgb(0, 0, 0);
  background: linear-gradient(to right, rgb(255, 115, 0), rgb(255, 115, 0));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  font-family: "Archivo Black", sans-serif;
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.profile__container .profile__information .profile__greeting.active {
  background-color: rgb(0, 0, 0);
  background: linear-gradient(to right, rgb(42, 248, 19), rgb(28, 212, 59));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.profile__container .profile__information .profile__greeting:hover {
  transform: translatey(-10px);
  -webkit-transform: translatey(-10px);
  -moz-transform: translatey(-10px);
}
.profile__container .profile__information .profile__name {
  text-align: left;
  padding-left: 30px;
  position: relative;
  font-weight: 700;
  font-size: 60px;
  background-color: black;
  background: linear-gradient(to right, rgb(252, 193, 105), rgb(255, 126, 67));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  font-family: "Archivo Black", sans-serif;
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.profile__container .profile__information .profile__name.active {
  background-color: rgb(0, 0, 0);
  background: linear-gradient(to right, rgb(54, 228, 112), rgb(71, 235, 38));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.profile__container .profile__information .profile__name:hover {
  transform: translatey(-10px);
  -webkit-transform: translatey(-10px);
  -moz-transform: translatey(-10px);
}
.profile__container .profile__information .profile__frontend {
  text-align: left;
  padding-left: 30px;
  font-size: 60px;
  font-weight: 700;
  background-color: black;
  background: linear-gradient(to right, rgb(183, 81, 251), #4adeff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  font-family: "Archivo Black", sans-serif;
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.profile__container .profile__information .profile__frontend:hover {
  transform: translatey(-10px);
  -webkit-transform: translatey(-10px);
  -moz-transform: translatey(-10px);
}
.profile__container .profile__information .profile__email {
  width: 360px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 10px;
  padding: auto;
  cursor: pointer;
  background: linear-gradient(to right, rgb(197, 197, 197), rgb(182, 182, 182));
}
.profile__container .profile__information .profile__email .profile__email__text {
  color: white;
  font-weight: 300;
  font-size: 22px;
  font-family: "Anek Devanagari", sans-serif;
}
.profile__container .profile__icons {
  width: 80%;
  height: 200px;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}
.profile__container .icon__profile {
  font-size: 70px;
  cursor: pointer;
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.profile__container .icon__profile__cv {
  cursor: pointer;
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.profile__container .icon__profile__cv:hover {
  transform: translatey(-10px);
  -webkit-transform: translatey(-10px);
  -moz-transform: translatey(-10px);
}
.profile__container .icon__profile:hover {
  transform: translatey(-10px);
  -webkit-transform: translatey(-10px);
  -moz-transform: translatey(-10px);
}
.profile__container .icon__codewars {
  width: 70px;
  cursor: pointer;
  margin-left: 35px;
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.profile__container .icon__codewars:hover {
  transform: translatey(-10px);
  -webkit-transform: translatey(-10px);
  -moz-transform: translatey(-10px);
}

@media (max-width: 1024px) {
  .profile__name__absolute {
    width: 180px;
    height: 30px;
    margin-left: 30px;
    margin-top: 10px;
  }
  .profile__name__absolute .profile__name__absolute__text {
    font-size: 20px;
  }
  .profile__container {
    width: 100%;
    border: none;
    height: 100vh;
  }
  .profile__container .profile__container__num2 {
    width: 100%;
    height: 700px;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.5s ease;
  }
  .profile__container .profile__container__num2 .profile__information {
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .profile__container .profile__container__num2 .profile__information .profile__greeting {
    font-size: 60px;
  }
  .profile__container .profile__container__num2 .profile__information .profile__name {
    text-align: left;
    font-size: 60px;
    align-self: flex-start;
  }
  .profile__container .profile__container__num2 .profile__information .profile__frontend {
    font-size: 60px;
  }
  .profile__container .profile__container__num2 .profile__information .profile__email {
    width: 500px;
    height: 40px;
    border-radius: 20px;
  }
  .profile__container .profile__container__num2 .profile__information .profile__email__text {
    font-size: 32px;
  }
  .profile__container .profile__icons {
    margin-top: 0px;
    justify-content: flex-start;
    align-content: end;
  }
  .profile__container .profile__icons .icon__profile {
    font-size: 80px;
    margin-left: 50px;
  }
  .profile__container .profile__icons .icon__codewars {
    width: 80px;
    margin-left: 50px;
  }
}
@media (max-width: 768px) {
  .profile__name__absolute {
    width: 250px;
    height: 40px;
    margin-left: 40px;
    margin-top: 40px;
  }
  .profile__name__absolute .profile__name__absolute__text {
    font-size: 24px;
  }
  .profile__container {
    width: 100%;
    border: none;
    height: 100vh;
  }
  .profile__container .profile__container__num2 {
    width: 100%;
    height: 600px;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.5s ease;
  }
  .profile__container .profile__container__num2 .profile__information {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
  }
  .profile__container .profile__container__num2 .profile__information .profile__greeting {
    font-size: 60px;
  }
  .profile__container .profile__container__num2 .profile__information .profile__name {
    text-align: left;
    font-size: 60px;
    align-self: flex-start;
  }
  .profile__container .profile__container__num2 .profile__information .profile__frontend {
    font-size: 60px;
  }
  .profile__container .profile__container__num2 .profile__information .profile__email {
    width: 450px;
    height: 40px;
    border-radius: 20px;
  }
  .profile__container .profile__container__num2 .profile__information .profile__email .profile__email__text {
    font-size: 26px;
  }
  .profile__container .profile__icons {
    margin-top: 0px;
    justify-content: flex-start;
    align-content: end;
  }
  .profile__container .profile__icons .icon__profile {
    font-size: 60px;
    margin-left: 10px;
    margin-left: 60px;
  }
}
@media (max-width: 690px) {
  .profile__container {
    /*Aqui*/
  }
  .profile__container .profile__container__num2 .profile__information {
    margin-top: 60px;
    height: 80%;
  }
  .profile__container .profile__container__num2 .profile__information .profile__name,
  .profile__container .profile__container__num2 .profile__information .profile__frontend,
  .profile__container .profile__container__num2 .profile__information .profile__greeting {
    font-size: 50px;
  }
  .profile__container .profile__container__num2 .profile__information .profile__email {
    width: 320px;
  }
  .profile__container .profile__icons {
    width: 70%;
    margin: auto;
    justify-content: center;
    gap: 20px;
  }
  .profile__container .profile__icons .icon__profile {
    font-size: 50px;
    margin: 0;
  }
  .profile__container .profile__icons .icon__codewars {
    width: 50px;
    margin: 0;
  }
}
@media (max-width: 430px) {
  .profile__name__absolute {
    width: 150px;
    height: 30px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .profile__name__absolute .profile__name__absolute__text {
    font-size: 17px;
  }
  .profile__container {
    width: 100%;
    margin-top: 0px;
    border: none;
    height: 100vh;
  }
  .profile__container .profile__container__num2 {
    width: 100%;
    height: 500px;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s ease;
  }
  .profile__container .profile__container__num2 .profile__information {
    width: 100%;
    height: 800px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .profile__container .profile__container__num2 .profile__information .profile__greeting {
    font-size: 40px;
  }
  .profile__container .profile__container__num2 .profile__information .profile__name {
    text-align: left;
    font-size: 40px;
    align-self: flex-start;
  }
  .profile__container .profile__container__num2 .profile__information .profile__frontend {
    font-size: 40px;
  }
  .profile__container .profile__container__num2 .profile__information .profile__email {
    width: 300px;
    height: 30px;
    border-radius: 13px;
  }
  .profile__container .profile__container__num2 .profile__information .profile__email .profile__email__text {
    font-size: 20px;
  }
  .profile__container .profile__icons {
    width: 80%;
    gap: 30px;
    margin-top: 0px;
  }
  .profile__container .profile__icons .icon__profile {
    font-size: 45px;
  }
  .profile__container .profile__icons .icon__codewars {
    width: 45px;
  }
}
@media (max-width: 375px) {
  .profile__container .profile__container__num2 .profile__information .profile__email {
    width: 300px;
    height: 45px;
  }
  .profile__container .profile__container__num2 .profile__information .profile__email .profile__email__text {
    font-size: 23px;
  }
  .profile__container .profile__icons {
    width: 100%;
  }
  .profile__container .profile__icons .icon__profile {
    font-size: 35px;
  }
  .profile__container .profile__icons .icon__codewars {
    width: 35px;
  }
}
html {
  scroll-behavior: smooth;
}

.main__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgb(31, 31, 31);
  background: linear-gradient(0deg, rgb(31, 31, 31) 0%, rgb(113, 113, 113) 100%);
}
.main__container.active {
  background: rgb(201, 201, 201);
  background: linear-gradient(0deg, rgb(201, 201, 201) 0%, rgb(255, 255, 255) 100%);
}

@media (width: 430px) and (height: 932px) {
  html, body {
    overflow-x: hidden;
  }
}
.proyectos__container {
  width: 95%;
  max-width: 1200px;
  height: 1800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 200px;
  margin-bottom: 100px;
  z-index: 10;
}
.proyectos__container .proyectos__container__tittle__div {
  width: 400px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-weight: normal;
  background-color: #1a1a1a;
}
.proyectos__container .proyectos__container__tittle__div.active {
  background-color: white;
  color: black;
  box-shadow: 18px 2px 150px -14px rgba(0, 0, 0, 0.36);
}
.proyectos__container .proyectos__container__title {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 30px 0px 30px 0px;
  font-family: "Rubik", sans-serif;
}
.proyectos__container .proyectos__container__title.active {
  color: black;
}
.proyectos__container .proyectos__container__division {
  width: 100%;
  max-width: 1200px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.proyectos__container .proyectos {
  margin-top: 40px;
  width: 100%;
  max-width: 900px;
  height: 520px;
  position: relative;
  font-family: "Rubik", sans-serif;
  background-color: #1a1a1a;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border: 1px solid rgb(131, 131, 131);
}
.proyectos__container .proyectos.active {
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 18px 2px 150px -14px rgba(0, 0, 0, 0.36);
}
.proyectos__container .proyectos .proyectos__img {
  width: 100%;
  height: 50%;
  background-color: rgb(110, 110, 110);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}
.proyectos__container .proyectos .proyectos__img .proyectos__img__inside {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.proyectos__container .proyectos .proyectos__information__container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  background-color: #1a1a1a;
  color: white;
}
.proyectos__container .proyectos .proyectos__information__container.active {
  color: black;
  background-color: white;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #1a1a1a;
  color: white;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex.active {
  background-color: white;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__informacion {
  width: 100%;
  height: 100%;
  padding: 12px 15px;
  font-weight: 500;
  font-size: 18px;
  background-color: #1a1a1a;
  color: white;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__informacion.active {
  background-color: rgb(255, 255, 255);
  color: black;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__informacion .proyectos__title {
  width: 40%;
  height: 40px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid gray;
  color: white;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__informacion .proyectos__title.active {
  color: black;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__informacion .proyectos__title:hover {
  background-color: rgb(87, 204, 204);
  color: rgb(0, 0, 0);
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__informacion .proyectos__title .proyectos__title__text {
  font-size: 20px;
  font-weight: 500;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__informacion .title__text {
  margin-top: 10px;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github.active {
  background-color: white;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__githubPages {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 15px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #1a1a1a;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__githubPages.active {
  color: black;
  background-color: white;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__githubPages .icon__proyecto {
  font-size: 45px;
  cursor: pointer;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__githubPages .githubPages__btn {
  width: 80px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  border-radius: 9px;
  font-weight: 500;
  cursor: pointer;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__githubPages .githubPages__btn .demo__btn {
  color: black;
  text-decoration: none;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__githubPages .githubPages__btn .code__btn {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__githubPages .githubPages__btn .code__btn,
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__githubPages .githubPages__btn .demo__btn:visited {
  color: black;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__githubPages .githubPages__btn:hover {
  background-color: rgb(247, 143, 143);
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__tecnologias {
  width: 90%;
  height: 70%;
  display: flex;
  margin-left: 13px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  gap: 20px;
  border-radius: 20px;
  background-color: #1a1a1a;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__tecnologias.active {
  color: black;
  background-color: white;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__tecnologias .tecnologias__title {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__tecnologias .icon__project {
  font-size: 45px;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__tecnologias .icon__project__typescript {
  width: 45px;
}
.proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__tecnologias .proyectos__tecnologias__text {
  font-size: 19px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

@media (max-width: 920px) {
  .proyectos__container {
    width: 100%;
    height: auto;
    border: none;
  }
  .proyectos__container .proyectos__container__tittle__div {
    width: 100%;
    border-radius: 0px;
    border: none;
  }
  .proyectos__container .proyectos__container__title {
    font-weight: 400;
  }
  .proyectos__container .proyectos__container__division {
    display: flex;
    flex-direction: column;
    height: 1200px;
    gap: 0px;
  }
  .proyectos__container .proyectos {
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 100px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .proyectos__container .proyectos .proyectos__img {
    width: 100%;
    height: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .proyectos__container .proyectos .proyectos__title {
    height: 35px;
  }
  .proyectos__container .proyectos .proyectos__title .proyectos__title__text {
    font-size: 18px;
  }
  .proyectos__container .proyectos .proyectos__information__container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
  }
  .proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__informacion {
    width: 98%;
    height: 200px;
    font-weight: 300;
    padding: 20px;
    font-size: 18px;
    border-radius: 18px;
  }
  .proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github {
    width: 100%;
    height: 120px;
    flex-direction: row;
  }
  .proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__githubPages {
    height: 100px;
    border-radius: 20px;
  }
  .proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__tecnologias {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 17px;
  }
  .proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__tecnologias .icon__project {
    font-size: 70px;
  }
  .proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__tecnologias .proyectos__tecnologias__text {
    font-size: 38px;
    border: 1px solid white;
  }
}
@media (max-width: 700px) {
  .proyectos__container {
    width: 100%;
    height: auto;
    border: none;
  }
  .proyectos__container .proyectos__container__tittle__div {
    width: 100%;
    border-radius: 0px;
    border: none;
  }
  .proyectos__container .proyectos__container__title {
    font-weight: 400;
  }
  .proyectos__container .proyectos__container__division {
    display: flex;
    flex-direction: column;
    height: 1200px;
    gap: 0px;
  }
  .proyectos__container .proyectos {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 100px;
    border-radius: 0px;
  }
  .proyectos__container .proyectos .proyectos__img {
    width: 100%;
    height: 230px;
    border-radius: 0px;
  }
  .proyectos__container .proyectos .proyectos__title .proyectos__title__text {
    font-size: 18px;
  }
  .proyectos__container .proyectos .proyectos__information__container {
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
  }
  .proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
  }
  .proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__informacion {
    width: 98%;
    height: 200px;
    font-weight: 300;
    padding: 20px;
    font-size: 16px;
    border-radius: 18px;
    border-radius: 0px;
  }
  .proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github {
    width: 100%;
    height: 120px;
  }
  .proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__githubPages {
    width: 100%;
  }
  .proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__githubPages .icon__proyecto {
    font-size: 37px;
  }
  .proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__tecnologias .icon__project {
    font-size: 37px;
  }
  .proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__tecnologias .icon__project__typescript {
    width: 37px;
  }
  .proyectos__container .proyectos .proyectos__information__container .proyectos__container__flex .proyectos__container__github .proyectos__tecnologias__text {
    font-size: 38px;
    border: 1px solid white;
  }
}
.skills__principal__container {
  width: 75%;
  height: 800px;
  margin-bottom: 50px;
}

.skills__container__tecnologias__title {
  width: 40%;
  height: 40px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  background-color: #1a1a1a;
  border: 1px solid white;
  color: white;
}
.skills__container__tecnologias__title.active {
  background-color: white;
  color: black;
}

.skills__container__tecnologias {
  width: 100%;
  height: auto;
  border-radius: 14px;
  background-color: #1a1a1a;
  border: 1px solid rgb(255, 255, 255);
  color: white;
}
.skills__container__tecnologias.active {
  background-color: white;
  box-shadow: 18px 2px 150px -14px rgba(0, 0, 0, 0.36);
}
.skills__container__tecnologias .tecnologias__div {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1x solid red;
}
.skills__container__tecnologias .tecnologias__div .icon__tecnologia {
  font-size: 90px;
}
.skills__container__tecnologias .tecnologias__div .icon__tecnologia__typescript {
  width: 80px;
  height: 80px;
}

.skills__container__softSkills__title {
  width: 40%;
  height: 40px;
  border-radius: 14px;
  text-align: center;
  margin: 30px 0px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  background-color: #1a1a1a;
  border: 1px solid white;
  color: white;
}
.skills__container__softSkills__title.active {
  background-color: white;
  color: black;
}

.skills__container__softSkills {
  width: 100%;
  height: 250px;
  border-radius: 14px;
  background-color: #1a1a1a;
  border: 1px solid white;
}
.skills__container__softSkills.active {
  color: rgb(0, 0, 0);
  background-color: white;
  border: 1px solid white;
  box-shadow: 18px 2px 150px -14px rgba(0, 0, 0, 0.36);
}
.skills__container__softSkills .habilidades__blandas {
  width: 100%;
  height: auto;
  border-radius: 14px;
  margin-bottom: 20px;
  background-color: #1a1a1a;
  border: 1px solid white;
  color: white;
}
.skills__container__softSkills .habilidades__blandas.active {
  color: black;
  background-color: white;
}
.skills__container__softSkills .habilidades__blandas .habilidades__blandas__texto {
  padding: 20px 25px 0px 25px;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
}

@media (min-width: 950px) {
  .skills__container__softSkills .habilidades__blandas {
    border: none;
  }
  .skills__container__softSkills .habilidades__blandas.active {
    border: none;
  }
}
@media (max-width: 520px) {
  .skills__principal__container {
    width: 90%;
    height: 950px;
  }
  .skills__container__softSkills__title,
  .skills__container__tecnologias__title {
    width: 60%;
  }
  .skills__container__tecnologias .tecnologias__div .icon__tecnologia {
    font-size: 70px;
  }
}
.footer__container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  background-color: #1A1A1A;
  border-top: 1px solid white;
  color: white;
}
.footer__container.active {
  background-color: rgb(255, 255, 255);
  color: black;
}
.footer__container .footer__container__question {
  width: 40%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}
.footer__container .footer__container__question .footer__icon {
  font-size: 38px;
}
.footer__container .footer__container__question .footer__container__question__text {
  text-align: center;
  font-size: 25px;
}
.footer__container .footer__container__contact {
  width: 40%;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.footer__container .footer__container__contact .footer__container__contact__phone {
  width: 40%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.footer__container .footer__container__contact .footer__container__contact__phone .footer__number {
  font-size: 20px;
  font-weight: 500;
}
.footer__container .footer__container__contact .footer__container__contact__phone .footer__icon {
  font-size: 45px;
  text-align: center;
}
.footer__container .footer__container__contact .footer__container__contact__email {
  width: 60%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.footer__container .footer__container__contact .footer__container__contact__email .footer__icon {
  font-size: 45px;
}
.footer__container .footer__container__contact .footer__container__contact__email .footer__email {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
.footer__container .footer__container__rights {
  width: 40%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
.footer__container .footer__container__rights .footer__container__rights__text {
  text-align: center;
  font-size: 20px;
  color: rgb(211, 211, 211);
}

@media (max-width: 800px) {
  .footer__container {
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 0px;
  }
  .footer__container .footer__container__question {
    width: 80%;
  }
  .footer__container .footer__container__contact {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer__container .footer__container__contact .footer__container__contact__phone {
    width: 100%;
    justify-content: flex-start;
  }
  .footer__container .footer__container__contact .footer__container__contact__phone .footer__icon {
    font-size: 30px;
  }
  .footer__container .footer__container__contact .footer__container__contact__email {
    width: 100%;
    justify-content: flex-start;
  }
  .footer__container .footer__container__contact .footer__container__contact__email .footer__icon {
    font-size: 30px;
  }
}/*# sourceMappingURL=styles.css.map */